$fonts: 'Calibri', 'Ubuntu', 'Segoe UI', 'Tahoma', sans-serif;

body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

#reactables-watcher {
    font-family: $fonts;
    word-break: break-all;
    font-weight: normal;
    font-size: 16px;
    user-select: none;

    .actions {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        flex-wrap: wrap;
        background-color: gray;

        .btns {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            flex-wrap: wrap;

            button {
                appearance: none;
                padding: 3px 7px;
                border: 1px solid dimgray;
                outline: none;
                color: white;
                border-radius: 7px;
                cursor: pointer;
                font-family: $fonts;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                background: #444;

                &:hover {
                    opacity: 0.8;
                }

                img {
                    filter: invert(1);
                    height: 12px;
                }
            }
        }

        img {
            height: 20px;
        }
    }

    .body {
        .wrapper {
            .title {
                background-color: gainsboro;
                border-bottom: 1px solid gray;
                padding: 5px;
                color: dimgray;
                cursor: pointer;

                &:hover {
                    background-color: #a8a8a8;
                }
            }

            &.hovered {
                .title {
                    background-color: gray;
                    color: white;
                }
            }

            .list {
                .json-container {
                    background-color: transparent;
                    font-family: $fonts;

                    .line {
                        flex-wrap: wrap;
                    }

                    .json-key {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}