#reactables-watcher {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fafafa;
  width: 300px;
  font-family: "Calibri", "Segoe UI", "Tahoma", sans-serif;
  overflow-y: auto;
  word-break: break-all;
  font-weight: normal;
  font-size: 16px;
  display: none;
  z-index: 9999999999999;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#reactables-watcher:after {
  content: "";
  top: 0;
  background-color: rgba(128, 128, 128, 0.3);
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  cursor: col-resize;
}
#reactables-watcher.reactables-watcher-show {
  display: block;
}
#reactables-watcher .reactables-watcher-wrapper.reactables-watcher-hovered .reactables-watcher-title {
  background-color: gray;
  color: white;
}
#reactables-watcher .reactables-watcher-wrapper .reactables-watcher-title {
  background-color: gainsboro;
  border-bottom: 1px solid gray;
  padding: 5px;
  color: dimgray;
  cursor: pointer;
}
#reactables-watcher .reactables-watcher-wrapper .reactables-watcher-title:hover {
  background-color: #a8a8a8;
}
#reactables-watcher .reactables-watcher-wrapper .reactables-watcher-list .json-container {
  background-color: transparent;
  font-family: "Calibri", "Segoe UI", "Tahoma", sans-serif;
}
#reactables-watcher .reactables-watcher-wrapper .reactables-watcher-list .json-container .line {
  flex-wrap: wrap;
}
#reactables-watcher .reactables-watcher-wrapper .reactables-watcher-list .json-container .json-key {
  margin-right: 0;
}

.reactables-watcher-focus {
  position: absolute;
  z-index: 9999999999999;
  pointer-events: none;
  background: rgba(126, 183, 253, 0.3);
  border: 1px solid rgba(126, 183, 253, 0.7);
}